{% extends "item/base.html" %}

{% block content %}
<main>
  <div class="container">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
      <!-- Navbar brand -->
      <span class="navbar-brand">Categories:</span>
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">All
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shirts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sport wears</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Outwears</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Importar CSV</a>
          </li>
          

          
          <li class="nav-item">
            <a class="nav-link" href="#">Exportar CSV</a>
          </li>
        </ul>
        <!-- Links -->
        <form class="form-inline">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </div>
      <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->
    <!--Section: Products v.3-->
    
    <p>{{ items.componente }}</p>
    <table class="table">
      <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Sucursal
            <a href=""><i class="fas fa-sort mr-2"></i></a>
          </th>
          <th scope="col">Responsable</th>
          <th scope="col">Equipo</th>
          <th scope="col">Dirección-IP</th>
          <th scope="col">Antigûedad
            <a href=""><i class="fas fa-sort mr-2"></i></a>
          </th>
          <th scope="col">Activo
            <a href=""><i class="fas fa-sort mr-2"></i></a>
          </th>
          <th scope="col">Estado
            <a href=""><i class="fas fa-sort mr-2"></i></a>
          </th>
      </tr>
      </thead>
      <tbody>
        {% for puesto in equipo %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ puesto.comp_neg }}</td>
            <td>{{ puesto.responsable }}</td>
            <td>{{ puesto.puesto_trabajo }}</td>
            <td>{{ puesto.ip_add }}</td>
            <td>{{ puesto.fecha_fab_anual }}</td>
            <td>{{ puesto.expected_return }}</td>
            <td>{{ puesto.get_estado_display }}</td>
            <td>
              <a href=""><i class="fas fa-pen mr-2"></i></a>
              
              <a href=""><i class="fas fa-trash ml-2"></i></a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
     </table>   
  </div>
</main>

{% endblock content %}